@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.container {
  background: var(--secondary-main);
  width: 100%;
  height: auto;
}


.errorText {
  font-size: 14px;
  color: #aa4b4b;
  margin-top: 10px;
}

.sucess {
  background: #60e522cd;
  width: 100%;
  height: 40px;
  border: 2px solid #00FF00;
  border-radius: 8px;
  margin: 10px auto;
  padding-top: 5px;
  padding-left: 10px;
  color: #fff;
  font-size: 0.7rem;
}

.cardContainer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: auto;
  border: none;
  /* margin: 18vh auto 10vh; */
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

.cardLeft, .cardRight {
  box-shadow: -4px 4px 40px rgba(84, 48, 209, 0.25);
}

/* LEFT SIDE OF CARD */
.cardLeft {
  /* margin-top: 8rem; */
  background-size: contain;
  background: url("/assets/images/login-signup/card-right-background.png"),
    linear-gradient(273.08deg, #ff47a7 -19.63%, #474bff 141.17%) !important;
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
  /* align-items: center; */
  width: 50%;
  padding: 10px;
  min-height: 600px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}
.contentContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2rem;
}
.innerText {
  width: 100%;
  padding: 25px;
  margin: 135px auto;
  text-align: center;
}
.innerText span {
  font-size: 20px;
}
.cardLeft h1 {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 34px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}
.cardLeft p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.cardLeftLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cardLeft .logo {
  width: 15%;
  height: auto;
}

/* RIGHT SIDE OF THE CARD */
.cardRight {
  width: 50%;
  padding: 33px 7vh 0.5vh 7vh;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-transform: capitalize;
  background: var(--secondary-high-contrast);
  border: 1.5px solid var(--secondary-accent-1);
  border-left: none;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cardRightText {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: "Graphik", sans-serif;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: auto;
  margin: 0;
}
.imgContainer #closeIcon {
  width: 4%;
  height: auto;
  margin: 0;
  cursor: pointer;
}
.cardRightText h2 {
  font-size: 34px;
  // margin: 0 0 1vh -20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-low-contrast);
}
.cardRightText p {
  font-size: 1rem;
  color: #b9bcc1;
}

.cardRightText a,
.forgotPassword a {
  color: var(--tertiary-high-contrast);
  opacity: 0.65;
  font-size: 16px;
}
.cardRightText a:hover,
.forgotPassword a:hover {
  color: var(--tertiary-high-contrast);
  opacity: 1;
}

.socialMedia {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px auto;
}
.socialMedia li img {
  width: 40%;
  height: auto;
  cursor: pointer;
}
.mid {
  width: 90%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--tertiary-high-contrast);
  opacity: 0.6;
}
.line {
  background-color: var(--tertiary-high-contrast);
  width: 45%;
  height: 2px;
}

.inputLabel {
  color: var(--light-low-contrast);
  opacity: 0.65;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.03em;
}
.forgotPassword {
  text-align: end;
  margin-top: 10px;
  font-weight: 300;
}
.submit {
  margin: 70px auto 50px;
  background: var(--tertiary-main);
  width: 100%;
  height: 52px;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
}
.submit:hover {
  background: var(--tertiary-low-contrast);
}
.passInput, .fieldInput {
  background: var(--secondary-accent);
  color: var(--light-accent);
  font-size: 20px;
  padding: 5px 2.4rem;
  width: 100%;
  height: 40px;
  border: 1px solid var(--secondary-accent-1);
  border-radius: 4px;
  background-position-x: 12px;
  background-position-y: center;
  background-repeat: no-repeat;
  outline: none;
}
.fieldInput {
  padding: 5px 0.8rem;
} 


/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .socialMedia,
  .mid {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .cardContainer {
    flex-direction: column;
  }
  .cardLeft {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .cardRight {
    width: 100%;
    height: auto;
    margin: 0;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border: 1.5px solid var(--secondary-accent-1);
    border-top: none;
  }
  .imgContainer #closeIcon {
    width: 3%;
  }
  .socialMedia {
    width: 80%;
    margin-top: 3vh;
  }
}
@media (max-width: 650px) {
  .socialMedia,
  .mid {
    width: 100%;
    // margin: 2vh auto 0;
  }
  .socialMedia li img {
    width: 55%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .cardRightText h2 {
    font-size: 30px;
  }
  .contentContainer {
    padding: 1rem;
  }
  .innerText {
    padding: 25px 0;
  }
  .imgContainer #closeIcon {
    width: 5%;
  }
  .cardRight {
    padding: 15px 23px;
  }
  .socialMedia,
  .mid {
    width: 85%;
  }
  .cardRightText {
    margin-top: 0;
  }
}
