.saved {
  cursor: not-allowed !important;
}
.Demo__some-network__share-button:not(:first-child) {
  margin-left: 10px;
}
.Demo__some-network__share-button {
  outline: none !important;
}
.event-status-yes {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
}
.event-status-yes-detail {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
}
.event-status-red {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
}

.event_search_button {
  background: #6938ef;
  color: white;
  padding: 0 40px;
  transition: all 0.2s ease-in;
  border: 2px solid #6938ef;
  border-radius: 100px;
  font-weight: 500;
  height: 50px;
  font-size: 14px;
}
.event_search_button:hover {
  background: none;
  border-color: #6938ef;
}
.event__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mobile_event_select {
  display: none;
}

@media screen and (max-width: 600px) {
  .event__form {
    flex-direction: row;
    margin-bottom: 10px;
  }
  .input {
    height: 40px !important;
  }
  .fas-hide {
    display: none;
  }
  .event_search_button {
    padding: 0 3px !important;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px;
    height: 40px !important;
  }
  .event_select_button {
    flex-direction: column;
  }
  .mobile_event_select {
    display: block;
    width: 80% !important;
  }
  .event_select_grid {
    display: none !important;
  }
}
.past_event__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img_position {
  position: absolute;
  top: 4%;
  right: 5%;
}

.eventcard_container_skeleton {
  width: 100%;
}
