.introWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  padding-bottom: 4em;
  position: relative;
  overflow-x: clip;
}

.tag {
  position: absolute;
  text-align: end;
  left: 0;
  top: 10em;
  width: 15%;
  padding: 0.5em;
  background: rgb(21, 19, 113, 0.1);
  border-bottom: 2px solid white;
  color: white;
}

.introContainer {
  width: 100%;
  /* max-width: 64em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
  margin-top: 8em;
  /* background: rgb(0,0,0,0.2); */
}

.contentContainer {
  /* width: 26em; */
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  text-align: center;
  background: linear-gradient(90.87deg, #97C4F5 -2.84%, #33D2FF 82.04%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 30px;
  padding: 0 3rem;
}

.showText {
  display: none;
}

.button {
  padding: 0.8em 3em;
  font-weight: 600;
  font-size: 30px;
  background: #6938EF;
  border-radius: 100px;  color: white;
  cursor: pointer;
  margin-bottom: 38px;
}

/* .button:hover {
  background: #100e5a;
} */

.globeContainer {
  /* width: 20em; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.globeContainer > img {
  width: 100%;
  height: auto;
}

.playIcon {
    position: absolute;
    width: 4em;
    height: 4em;
    color: white;
    background: #676565;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.imgText{
  background: #1C1D37;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: -50px;
  position: relative;
  z-index: 20;
}
.imgText p{
  color: #FFFFFF;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
.imgText div{
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.bgBlue{
  position: absolute;
  width: 160.95px;
  height: 170.28px;
  background: #584ae6;
  border-radius: 50%;
  mix-blend-mode: hard-light;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  filter: blur(140.94px);
  right: 10%;
  top: 30%;
}
.bgImg{
  position: absolute;
  right: -90rem;
  top: 60rem;
  mix-blend-mode: color-dodge;
}
@media screen and (max-width: 1024px) {
  .introContainer {
    max-width: 48em;
  }

  .contentContainer {
    width: 24em;
  }

  .heading {
    font-size: 1.4em;
  }

  .text {
    font-size: 1rem;
  }

  .globeContainer {
    width: 16em;
  }
}

@media screen and (max-width: 768px) {

  .tag {
    width: auto;
    position: absolute;
    top: 0;
    left: 2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    background: #151371;
    color: white;    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .introWrapper {
    position: static;
  }

  .introContainer {
    max-width: 36em;
    padding: 3em 1em;
    margin-top: 6em;
    position: relative;
  }

  .contentContainer {
    width: 20em;
  }

  .heading {
    font-size: 1.2em;
  }

  .text {
    font-size: 0.9rem;
  }

  .globeContainer {
    width: 12em;
  }

  .button {
      padding: 0.6em 3em;
  }

  .playIcon {
      width: 3em;
      height: 3em;
  }
}


@media screen and (max-width: 480px) {  
  .introContainer {
    max-width: 100%;
  }

  .tag {
    left: 1em;
    font-size: 0.8em;
  }

  .contentContainer {
    width: 16em;
  }

  .showText {
    display: inline;
  }

  .hideText {
    display: none;
  }

  .playIcon {
      width: 2em;
      height: 2em;
  }

  .playIcon > * {
      font-size: 0.8em;
  }

  .heading {
    font-size: 1.2em;
  }

  .text {
    font-size: 0.8rem;
  }

  .button {
    padding: 0.5em 2em;
  }

  .globeContainer {
    width: 10em;
  }
}

@media screen and (max-width: 320px) {
  .introContainer {
    padding: 2em 1em;
    max-width: 100%;
  }

  .tag {
    font-size: 10px;
  }

  .contentContainer {
    max-width: 9.6em;
  }

  .heading {
    font-size: 0.6rem;
  }

  .text {
    font-size: 10px;
  }

  .button {
    padding: 0.4em 2em;
    font-size: 0.5em;
  }

  .globeContainer {
    width: 5.6em;
  }
}
