.wrapper {
    margin-bottom: 1em;
    padding: 0.3em;
    padding-right: 0.5em;
}

.effect {
    width: 0%;
    height: 100%;
    transition: width 2s cubic-bezier(0,.48,.2,1.21);
    position: absolute;
    top: 0;
    left: 0;
}

.effect1 {
    background: #c4018c;
}
.effect2 {
    background: #c29802;
}

.wrapper:hover .effect {
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #1C1D37;
    border: 1px solid #6938EF;
    border-radius: 10px;
}

.container.grad2{
    background: linear-gradient(90deg, #FF00B8 0%, rgba(0, 0, 0, 0.979) 7.56%, rgba(65, 1, 46, 0.74) 66.26%, rgba(138, 2, 99, 0.548) 126.52%);
}

.container.grad1 {
    background: linear-gradient(90deg, #FFC700 0%, rgba(0, 0, 0, 0.979) 7.56%, rgba(65, 61, 1, 2.34) 73.09%, rgba(0, 0, 0, 0.579) 126.52%);
}

.number {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    background: linear-gradient(91.39deg, #FF00B8 17.68%, #CC00FF 106.94%);
    border-radius: 10px 1px 1px 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 48px;
    margin-right: 4%;
    font-family: 'SF Pro Display', sans-serif;
}

.nameAndLocation {
    word-wrap: break-word;
    margin-right: auto;
    text-align: left;
    /* padding: 1em 2em; */
}

.amount,
.name {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-family: 'SF Pro Display', sans-serif;
}
.amount{
    font-weight: 500;
    margin-right: 10px;
}

.number,
.points,
.pts,
.location,
.time {
    color: white;
}
.location{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: normal;
}
.timeAndPoints {
    width: auto;
}

.points {
    font-size: 10px;
}

.pts {
    display: none;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0.3em;
    }

    .container {
        padding: 1em;
    }
}

@media screen and (max-width: 480px) {
    .nameAndLocation,
    .timeAndPoints,
    .number {
        font-size: 12px;
    }
    .number {
        margin-right: 1em;
    }
    .wrapper {
        padding: 0.2em 0.3em;
    }

    .points {
        display: none;
    }
    .pts {
        display: inline-block;
    }
}

@media screen and (max-width: 320px) {
    .number {
        margin-right: 0.5em;
    }
}