.selectContainer {
    display: flex;
    background: #1C1D37;
    border: 1px solid #6938EF;
    box-sizing: border-box;
    border-radius: 76.6666px;
    font-size: 32px;
    padding: 0 8px;
}

.selectHeading {
    width: auto;
    background: #FFC700;
    color: #151371;
    border-radius: 0.2em;
    cursor: pointer;
    padding: 0.3em 1.5em;
    text-transform: capitalize;
    z-index: 5;
}

.selectList {
    /* height: auto;
    max-height: 0;
    position: absolute;
    right: 0;
    top: 2.2em;
    white-space: nowrap;    
    transition: all 1s ease-in-out;
    overflow: hidden; */
}

.toggle {
    background: #6938EF;
    border-radius: 70px;
}

.selectItem {
    width: auto;
    min-width: 4.5em;
    cursor: pointer;
    /* background: #151371; */
    color: white;
    padding: 20px 30px;
    text-transform: capitalize;
    margin: 8px 0;
    border-radius: 70px;
    transition: .3s ease-in;
}

.selectItem:hover {
   color: #6938EF;
}

.toggle:hover {
    color: white;
}   

@media screen and (max-width: 768px) {
    .selectHeading {
        padding: 0.1em 1em;
        font-size: 14px;
    }

    .selectItem {
        /* padding: 0.2em 1em; */
        font-size: 0.9rem;
    }
}
