@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container {
  background: #efefef;
  width: 100%;
  height: auto;
}

.cardContainer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: auto;
  border: none;
  /* margin: 18vh auto 10vh; */
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}
/* LEFT SIDE OF CARD */
.cardLeft {
  /* margin-top: 8rem; */
  background-size: contain;
  background: url('/assets/images/login-signup/card-right-background.png'),
    linear-gradient(273.08deg, #ff47a7 -19.63%, #474bff 141.17%) !important;
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
  /* align-items: center; */
  width: 50%;
  padding: 10px;
  min-height: 600px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}
.contentContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2rem;
}
.innerText {
  width: 100%;
  padding: 25px;
  margin: 135px auto;
  text-align: center;
}
.innerText span {
  font-size: 20px;
}
.cardLeft h1 {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 34px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}
.cardLeft p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.cardLeftLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cardLeft .logo {
  width: 15%;
  height: auto;
}

/* RIGHT SIDE OF THE CARD */
.cardRight {
  width: 50%;
  padding: 33px 7vh 0.5vh 7vh;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cardRightText {
  width: 100%;
  height: auto;
  margin-bottom: 90px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: 'Graphik', sans-serif;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: auto;
  margin: 0;
}
.imgContainer #closeIcon {
  width: 4%;
  height: auto;
  margin: 0;
  cursor: pointer;
}
.cardRightText h2 {
  font-size: 34px;
  margin: 0 0 1vh -20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #3e385d;
}
.cardRightText p {
  font-size: 1rem;
  color: #b9bcc1;
}
.socialMedia {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px auto 5px auto;
}
.socialMedia li img {
  width: 70%;
  height: auto;
  cursor: pointer;
}
.mid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.line {
  background-color: #000;
  width: 45%;
  height: 2px;
}

.inputLabel {
  color: #000;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.03em;
}
.submit {
  margin-top: 70px;
  background: #474bff;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
}
.passInput {
  background: transparent;
  font-size: 20px;
  padding: 5px 2.2rem;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-position-x: 12px;
  background-position-y: center;
  background-repeat: no-repeat;
  outline: none;
}
/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .socialMedia,
  .mid {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .cardContainer {
    flex-direction: column;
  }
  .cardLeft {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .innerText {
    margin: 5vh auto;
  }
  .cardRight {
    width: 100%;
    height: auto;
    margin: 0;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .imgContainer #closeIcon {
    width: 3%;
  }
  .socialMedia {
    width: 80%;
    margin-top: 3vh;
  }
}
@media (max-width: 650px) {
  .cardRightText h2 {
    font-size: 1.5rem;
  }
  .cardRightText p {
    font-size: 1.1rem;
  }
  .socialMedia,
  .mid {
    width: 100%;
    margin: 2vh auto 0;
  }
  .socialMedia li img {
    width: 55%;
    margin: 0 auto;
  }
  .cardRight {
    border-top-right-radius: 0px;
  }
}
@media (max-width: 500px) {
  .imgContainer #closeIcon {
    width: 5%;
  }
  .cardLeft h1 {
    font-size: 2.1rem;
  }
  .cardLeft p {
    font-size: 0.8rem;
  }
  .cardRight {
    padding: 15px;
    font-size: 1.2rem;
  }
  .cardRightText h2 {
    font-size: 1.1rem;
  }
  .cardRightText p {
    font-size: 0.9rem;
  }
  .socialMedia,
  .mid {
    width: 85%;
  }
  .cardRightText {
    margin-top: 0;
  }
  .cardRight {
    border-top-right-radius: 0px;
  }
}
