@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

.wrapper * {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #474bfd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 10em;
  height: 6em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.bar {
  width: 2em;
  height: 0;
  background: white;
  position: relative;
  animation-name: build;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
}


@keyframes build {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.bar_1::before,
.bar_2::before, 
.bar_3::before {
  content: '';
  width: 2em;
  height: 2em;
  position: absolute;
  top: -2em;
  background: white;
  animation-name: blink;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  opacity: 0;
  transform-origin: bottom right;
}


@keyframes blink {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}

.bar_3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 2em;
  height: 2em;
  background: white;
  position: absolute;
  right: -2em;
  opacity: 0.3;
  transform: translateX(6em);
  animation: align 1s both;
  animation-delay: 2s;
}

@keyframes align {
  0% {
    transform: translateX(4em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.dot:nth-child(2) {
  right: -4em;
  transform-origin: top left;
  animation-duration: 1s;
  animation-name: align, rotate;
  animation-delay: 3s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
  transform: rotate(-90deg);
  }
}

.loader_container {
  width: 100%;
  margin: 2em auto;
}

.leftLoader,
.rightLoader {
  width: 0%;
  height: 4px;
  display: block;
  margin-bottom: 0.2em;
  background: #fff;
  animation: fill forwards 4s;
}

.leftLoader {
  float: left;
}

.rightLoader {
  float: right;
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.text {
  font-size: 2rem;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 540px) {
  .loader_container {
    width: 100%;
    margin: 1em 0;
  }

  .text {
    font-size: 1rem;
  }

  .logo {
    width: 7.5em;
    height: 4em;
  }

  .bar {
    width: 1.5em;
  }

  .bar_1::before,
  .bar_2::before, 
  .bar_3::before {
    width: 1.5em;
    height: 1.5em;
    top: -1.5em;
  }

  .dot {
    width: 1.5em;
    height: 1.5em;
    right: -1.5em;
  }
  
  .dot:nth-child(2) {
    right: -3em;
  }
}