.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    position: relative;
    text-align: center;
}

.heading {
    width: 100%;
    padding: 0 4em;
    margin-bottom: 2em;
    color: white;
}

.tag {
    width: auto;
    position: absolute;
    top: 0;
    right: 4em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 1.2rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    background: #FFFFFF66;
    color: white;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    text-align: center;
    background: linear-gradient(90.87deg, #97C4F5 -2.84%, #33D2FF 82.04%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.text {
    text-align: center;
    padding: 0 3em;
    color: white;
    font-weight: normal;
    font-size: 30px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4em;
    margin-bottom: 2em;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate * {
    transition: all 0.1s;
}

.pageLengthInfo {
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: white;
}

.pageSelector {
    background: #FFFFFF66;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: white;
}

.pageSelector:hover {
    border-radius: 0.2em;
    transform: scale(1.05);
    background: #FF00B8;
}

.stats {
    width: 100%;
}

.loadButtonContainer {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2em;
}

.loadButton {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    cursor: pointer;
    text-transform: uppercase;
    background: #151371;
    color: white;
}
.LeadboardCards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    height: 530px;
    margin-bottom: 90px;
    margin-top: 40px;
}
.LeadboardCards >div{
    background: #1C1D37;
    border: 1px solid #6938EF;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18.4694px rgb(0 0 0 / 10%);
    border-radius: 18.4694px;
}    
.gold{
    height: 100%;
}
.bronze{
    height: 87%;
    margin-top: auto;
}
.silver{
    height: 92%;
    margin-top: auto;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
.detail h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    font-family: 'SF Pro Display', sans-serif;
}
.detail h3{
    font-size: 20px;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 10px;
}   
.detail p{
    font-weight: 600;
    font-size: 18px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    margin: 30px 0 10px;
}  
.viewBtn{
    margin-bottom: 20px;
} 

.viewBtn a{
    background: #6938EF;
    border-radius: 100px;
    padding: 18px 30px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .container {
        width: 48em;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 0.5em;
    }

    .container {
        width: 36em;
    }
    .stats {
        padding:  1rem;
    }

    .navbar {
        margin-bottom: 1em;
    }

    .heading,
    .navbar {
        padding: 0 2em;
    }
    
    .tag {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 0.5em;
        padding-left: 0.5em;
        font-size: 1rem;
        right: 2em;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 1em 0;
    }

    .navbar {
        padding: 0 1em;
    }

    .loadButtonContainer {
        padding: 0 1em;
    }
    
    .loadButton {
        padding: 0.3em 1em;
    }

    .heading{
        padding: 0 1em;
        font-size: 1rem;
    }

    .tag {
        right: 1em;
        font-size: 0.8em;
    }

    .pageLengthInfo,
    .pageSelector {
        padding: 0.3em 0.6em;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .title {
        font-size: 0.9rem;
    }

    .text {
        font-size: 0.7rem;
    }

    .tag {
        font-size: 10px;
    }

    .heading,
    .stats {
        padding: 0.5em;
    }

    .navbar,
    .loadButtonContainer{
        padding: 0 0.5em;
    }

    .loadButton {
        font-size: 0.8em;
    }
}
