@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@media only screen and (min-width: 768px) {
  .outer-dashboard-container{
    max-width: 1460px;
    padding: 20px;
    background: #14152B;
    color: white;
  }
  .sidebar-item{
    display: flex;
    flex-direction: column;
  }
  .dashboard-overall-container{
    justify-content: center;
    max-width: 1540px;
    width: 100%;
  }
  .dashboard-navbar-div{
    width: 100%;
  }
  .dashboard-navbar{
    width: 80px;
  }
  .navbar-dashboard-div{
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar-item{
    display: flex;
    flex-direction: row;
  }
  .show-sidebar-container{
    background:rgba(0, 0, 0, 0.5);
  }
  .inner-dashboard-container{
    height: 100vh;
    width: 100vw;
  }
  .outer-dashboard-container{
    width: 100%;
  }
  .dashboard-navbar{
    height: 100vh;
  }
  .navbar-dashboard-div{
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 2;
  }
  .navbar-dashboard-div::-webkit-scrollbar {
  display: none;
}
  .dashboard-overall-container{
    padding: 0 !important;
    width: 100% !important;
  }
  .navbar-dashboard-button{
    background: #ff3587;
    border-radius: 2px;
    color: white;
  }
  .navbar-dashboard-button-selected{
    background: white;
    color: #ff3587;
    border-radius: 2px;
  }
}
.navbar-dashboard-div{
   background: #151371;
}

.inner-dashboard-container{
  font-family: 'Poppins', sans-serif;
  background: #14152B;
  max-width: 1440px !important;
  height: auto;

}
.dashboard-navbar-button{
  padding: 20px 15px;
  cursor: pointer;
  color: white;
}

.dashboard-navbar-button:hover{
  background: #6A0C8B;
}

.dashboard-navbar-button-selected{
  background: white;
  color: #6A0C8B;
  padding: 20px 15px;
  cursor: pointer;
}

.component-mobile-button{
  background: #1C1D37 ;
  margin-bottom: 2%;
  border-radius: 5px;
  /* padding-left: 2%; */
  line-height: 32px;
}
.hide-mobile-component{
  display: none;
}
.component-mobile-button p{
  color: rgb(255, 255, 255);
} 

.component-mobile-button>div> p{
  font-size: 16px;
}
.open-component-button{
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
/* .open-component-button:active, .open-component-button:focus{
  animation: rotate90 0.2s 1 forwards;
  -webkit-animation:rotate90 0.2s 1 forwards;
}
.open-component-button:active:not(:focus){
  transform: rotate(-90deg);
} */
@keyframes rotate90 {
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(50deg);
  }
  75% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(90deg);
  }
}


.dashboard-card{
  border-radius: 5px;
  background: #1C1D37;
  padding: 12px 20px;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;
}

.missing-api-dashboard-card{
  border: 0.5px solid yellow;
  border-radius: 5px;
  background: white;
  padding: 12px 20px;
}

.marked-date{
  color:white;
  font-weight: 500;
  background: #151371;
}

.overview-event-card{
  box-shadow: 0px 32px 41px rgb(0 0 0 / 25%);
  border-radius: 8px;
  background: #24253D;
  border: 1px solid #6938EF;
  padding: 8px;
  margin-bottom: 10px;
  line-height: 15px;
}
.overview-event-card:hover{
  background: #6938EF;
}

.overview-event-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.overview-event-status{
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background: #151371;
  border-radius: 2px;
  max-width: 100px;
}

.more-details-button{
  font-size: 32px;
  line-height: 32px;
  color: #151371;
}

.empty-events{
  width: 70px;
  height: 70px;
}

.empty-events-description{
  margin-bottom: 5px;
  text-align: center;
  line-height: 16px;
  vertical-align: top;
  font-size: 14px;
  padding: 0 10px;
}

/* OVERVIEW CAREER COMPONENT */

.overview-career-button {
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #6938EF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
  margin: 0px 5px;
}
.overview-career-button:hover {
  background:#6938EF !important;
}
.selected{
  border-radius: 4px;
  border: 1px solid #6938EF;
  background: #6938EF;
}

.overview-career-button p{
  font-size: 12px ;
  font-weight: 500;
  color:#ffffff;
  text-align: center;
  margin: 0;
}


.overview-career-cards-list{
  padding: 7px 0 ;

}

.overview-career-card {
  padding: 5px 10px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #6938EF;
  width: 100%;
  height: 30%;
}

.overview-career-card:hover{
  background: #6938EF;
  .overview-career-all-image{
    background: #1C1D37;
  }
}

.overview-career-card-image img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.overview-career-card-info{
  justify-content: center;
  align-items: flex-start;
}
.overview-career-card-info-title{
  font-size:12px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0;
}

.overview-career-card-info p{
  font-size: 12px;
  margin: 0;
  white-space: normal;
}
.overview-career-card-jobtype> p{
  padding: 2px 7px;
  font-size: 10px;
  background: #565656;
  color: white;
  border-radius: 4px;
  margin: 0;
}

.overview-career-card-jobtype {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* COURSES */
.overview-courses-list::-webkit-scrollbar {
  display: none;
}

.overview-courses-list{
  /* cursor: grab; */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overview-wrapper {
  display: flex;
  align-items: center;
}

.overview-barContainer {
  flex: 1;
  height: 8px;
  background: rgba(82, 85, 141, 0.61);
  border-radius: 12px;
}

.overview-filler {
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(90deg, #151371 0%, #AD079F 53.03%, #D304AB 70.87%);;
}

.overview-course-card{
  padding: 5px 10px;
  background: #24253D;
  border: 1px solid #6938EF;
  color: white;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2%;
}

.overview-courses-cards{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll;
}

/* .overview-courses-cards::-webkit-scrollbar {
  display: none;
} */

.overview-course-card:hover{
    background: #6938EF;
}

.overview-course-card-info p{
  font-size: 12px;
  line-height: 16px;
}


.overview-course-card-info-title{
  font-size:12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 0;
}

.overview-course-card-description{
  font-size: 10px;
  color: #DEDEDE;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.overview-course-currency p{
  line-height: 20px;
  color: #33D2FF;
  margin: 0;
  text-align: center;
}

/* Startups Component */

.overview-startup-card{
  padding: 5px 10px;
  background: #EFEFEF;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2%;
}

/* Proposals */

.proposal-card-info{
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overview-proposal-card{
  background: #EFEFEF;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 2%;
  padding: 10px 10px;
}

.overview-proposal-cards{
  overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overview-proposal-cards::-webkit-scrollbar {
  display: none;
}

.overview-proposal-button{
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
}

/* Chapter Component */

.overview-chapter-card-description{
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  margin: 5px 0;
}

/* Project component */

.project-button {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.project-button-selected{
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #151371;
}


/* WALLET DASHBOARD */
.total-balance-card-dashboard-wallet{
  background: #1C1D37;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

.inner-total-balance-card-dashboard-wallet{
  width: 100%;
  height: 100%;
  background: #1C1D37;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.wallet-dashboard-button{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.trans-card{
  background: #1C1D37;
  border: 2px solid transparent;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 20px;  /* background: green; */
  padding: 20px;
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.trans-card:hover{
  border-color: #6938EF;
}

.trans-card-text{
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: white;
  margin: 0;
  line-height: 18px;
}

.trends-button{
  background: #3E385D;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: 700;
  color: white !important;
  margin-right: 8px;
  padding: 5px 20px;
  height: fit-content;
}

.trends-button:hover{
  border-color: #6938EF;
}

.trends-button-selected{
  background: rgba(105, 56, 239, 0.2);
  border: 1px solid #6938EF;
  font-weight: 700;
  color: white !important;
  border-radius: 20px;
  margin-right: 8px;
  padding: 5px 20px;
  height: fit-content;
}

.wallet-transaction-form{
  display: none;
  position: absolute;
  background: rgba(196, 196, 196, 0.3);
  backdrop-filter: blur(2px);
}

.dashboard-inner-bg{
  background: #1C1D37;
  border-radius: 20px !important;
}
.row-custom-span-3{
  grid-row: span 3 / span 3 !important;
}
.row-custom-span-6{
  grid-row: span 6 / span 6 !important;
}
.overview-course-card-border-none{
  border: none;
  box-shadow: none;
}
.button-setting-transparent{
  background: transparent;
  font-size: 10px;
  width: 45%;
  border-radius: 100px;
  border: 1px solid #6938EF;
}
.button-setting-transparent:hover{
  background: #6938EF;
}
.button-setting-bg {
  background: #6938EF;
  font-size: 10px;
  border-radius: 100px;
  width: 45%;
  border: none;
}
.button-setting-bg:hover{
  background-color: #6938EF;
}
.chart-inner-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10px;
}
.chart-static-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10px;
  color: #DEDEDE;
}
.chart-static-text span{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  display: block;
}  
.chart-static-title{
  position: absolute;
  font-weight: 600;
  color: white;
  left: 40%;
  top: 20%;
  white-space: nowrap;
}
.chart-inner-text span{
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.button-more{
  color: white;
  background: #6938EF;
  border-radius: 100px;
  padding: 10px 30px;
}
.button-more:hover{
  color: white;
}  
.view-course{
  font-size: 12px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  height: 80%;
  margin: auto 0 auto auto;
}
.overview-course-card:hover{
  .view-course{
    background: white;
    color: #6938EF;
  }
}
.mentorship-mentee-count{
  font-weight: bold;
  font-size: 24px;
  background: #FE8F66;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentorship-mentee-title{
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
}
.dashboard-projects-thumbnail:hover{
  border:4px solid #78129E;
}
.dashboard-projects-thumbnail-active{
  border:4px solid #78129E;
}
.overview-career-all-image{
  width: 40px;
  height: 35px;
  background: rgb(105, 56, 239);
  margin: auto 10px auto 0;
  border-radius: 50%;
  padding: 4px;
}
.overview-career-all-image img{
  object-fit: contain;
}
.statistics-card{
  background: #24253D;
  border: 1px solid #6938EF;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  height: 20%;
  margin-bottom: 4%;
}
.statistics-charts{
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
}
.static-card{
  background: #24253D;
  border: 1px solid #6938EF;
  box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.dashboard-static-chart{
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.static-chart-detail{
  margin-top: 5%;
}
.static-chart-detail h2{
  font-size: 12px;
  font-weight: 600;
}
.static-chart-detail .labels{
  color: #DEDEDE;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.static-chart-detail .labels .tag div{
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border-radius: 2px;
}
.static-chart-detail .labels .tag{
  display: flex;
  margin-bottom: 3px;
}
.overview-proposal-button{
  background: rgba(21, 147, 57, 0.65);
  border-radius: 6px;
  padding: 8px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 12px;
} 
.dashboard-proposal-table-title{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #D8D8D8;
}
.dashboard-progress-tasklist{
  margin-top: auto;
}  
.row-custom-6{
  grid-row: span 6 / span 6 ;
}
.dashboard-progress-chart{
  height: fit-content;
}
.wallet-dashboard-container{
  .wallet-grid{
    grid-template-columns: 35% 65%;
    display: grid;
  }
  .wallet-left{
    overflow-y: scroll;
  }
  .wallet-left::-webkit-scrollbar {
    width: 10px;              
  }
  .wallet-left::-webkit-scrollbar-track{
    background: #1C1D37;
  }
  .wallet-left::-webkit-scrollbar-thumb{
    background: #3E385D;
  }
  .wallet-right{
    background: #1C1D37;
    box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .line{
    height: 2px;
    background: #282948;
    width: 100%;
    // margin-bottom: 1rem;
  }
  .add-token-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #696F8C;
    cursor: pointer;
    span{
      color: #6938EF;
      font-size: 24px;
      margin-right: 10px;
    }
  }
  .currency-chart{
    padding: 1rem;
    display: grid;
    grid-template-columns: 33% 67%;
  }
  .currencies-update{
    overflow-y: scroll;
    // background: #20213F;
    border-radius: 20px;
    height: 270px;
    >div{
      margin-right: 6px;
      background: #20213F;
    }
  }
  .currencies-update::-webkit-scrollbar {
    width: 6px;              
  }
  .currencies-update::-webkit-scrollbar-track{
    background: #20213F;
  }
  .currencies-update::-webkit-scrollbar-thumb{
    background: #3E385D;
  }
  .coin-legend{
    width: 50%;
    height: 270px;
    overflow-y: scroll;
    margin-left: auto;
    >div{
      margin-right: 6px;
    }
  }
  .coin-legend::-webkit-scrollbar {
    width: 6px;              
  }
  .coin-legend::-webkit-scrollbar-track{
    background: #20213F;
  }
  .coin-legend::-webkit-scrollbar-thumb{
    background: #3E385D;
  }
  .coin-row{
    height: 85px;
    padding: 10px 10px;
    border-bottom: 1px solid #282948;
  }
  .donghut-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    svg{
      overflow: inherit !important;
    }
  }
  .donghut-chart-container div{
    // margin: 0 auto;
  }
  .market-chart-container{
    padding: 1rem;
    height: 400px;
    display: flex;
    align-items: center;
  }
  .market-chart-container >div{
    width: 100%;
    height: 310px;
    border-radius: 25px;
    padding: 15px;
    background: #20213F;
    box-shadow: 0px 32px 41px rgba(0, 0, 0, 0.25);
  }
  .market-chart-container .trends-button{
    margin-right: 10px;
  }
  .market-chart-container .trends-button-selected{
    margin-right: 10px;
  }
  div.google-visualization-tooltip{
    background-color: #3E385D !important; 
    box-shadow:  none !important;
    border: none !important;
    border-radius: 2px;
    > ul > li > span {
    color:rgb(255, 255, 255) !important;
    }
  }
}
// Wallet dashboard ButtonRows
.wallet-dashboard-connect .connect__button{
  background: #6938EF;
  padding: .9rem 2rem;
  margin: 0;
  width: fit-content;
}
.wallet-button-rows > div{
  cursor: pointer;
}
.wallet-button-rows .wallet-deposite{
  background: #fd05b326;
  transition: background  0.3s ease-in-out;
}
.wallet-button-rows .wallet-deposite:hover{
  background: #fd05b340;
}
.wallet-button-rows .wallet-swap{
  background: #F5841F26;
  transition: background  0.3s ease-in-out;
}
.wallet-button-rows .wallet-swap:hover{
  background: #F5841F40;
}
.wallet-button-rows .wallet-withdraw{
  background: #33D2FF26;
  transition: background  0.3s ease-in-out;
}
.wallet-button-rows .wallet-withdraw:hover{
  background: #33D2FF40;
}
.wallet-button-rows-text{
  font-size: 18px;
  font-weight: 500;
  color: #696F8C;
  margin-top: 13px;
}
.wallet-dashboard-search-bar{
  border: 1px solid rgba(62, 56, 93, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 50%;
  margin: auto;
  background: rgba(58, 53, 81, 0.55);
  box-shadow: 0px 32px 41px rgb(0 0 0 / 25%);
  border-radius: 100px;
}
/* Search input */
.form-control {
  background: var(--secondary-high-contrast);
  border: 1px solid var(--secondary-high-contrast);
  width: 100%;
  border-radius: 100px;
  height: 40px;
}

.form-control:focus {
  color: var(--light-high-contrast);
  background-color: var(--secondary-high-contrast);
  border-color: var(--tertiary-high-contrast);
  box-shadow: 0 0 0 0.2rem rgba(161, 30, 236, 0.25);
}
.wallet-dashboard-search-bar input{
  background: url('/assets/images/search-icon.svg');
  padding: 10px 20px 10px 60px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 50%;
  border: none;
}
@media only screen and (max-width: 1440px) {
  .static-chart-detail .labels{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10%;
  }
  .static-chart-detail{
    margin-top: 5px;
  }
  .dashboard-chapter-details{
    margin-bottom: 10px !important;
    height: 70%;
  }
  .dashboard-chapter-details .img-container{
   height: 100%; 
  } 
  .dashboard-chapter-location{
    margin-bottom: 10px !important;
  }
  .dashboard-progress-tasklist{
    height: 45px;
    margin-top: auto;
  }
  .dashboard-progress-tasklist >div{
    height: 100%;
  }
  .dashboard-pofile-card{
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
  }
  .mentorship-mentee-title{
    padding:5px 0;
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .wallet-dashboard-container .wallet-grid{
    display: flex;
    flex-direction: column;
    >div{
      padding: 0 !important;
    }
  }
  .wallet-dashboard-container .wallet-right{
    margin-top: 40px;
  }
  .wallet-dashboard-container .wallet-left {
    overflow-y: scroll;
    height: 620px;
  }
}  
@media only screen and (max-width: 1100px) {
  .dashboard-pofile-card{
    flex-direction: column !important;
    // min-width: 350px;
    // max-width: 450px;
    flex-wrap: initial;
    text-align: center;
  }
  .inner-dashboard-container{
    width: 450px;
  }
  .dashboard-progress-tasklist{
    height: auto;
  }
  .dashboard-progress-chart .chart-inner-text{
    top: 37%;
  }
  .dashboard-progress-chart .chart-inner-text p{
    font-size: 12px;
    line-height: 16px;
  }
  .button-more{
    margin: 10px 0;
  }
  .dashboard-card{
    color: white;
  }
  .dashboard-cards-tab{
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .dashboard-cards-tab >div{
    margin: 10px 0;
  }
  .dashboard-static-chart{
    width: 45%;
  }
  .static-chart-detail .labels{
    display: flex;
  }
  .static-card{
    justify-content: space-evenly;
  }
  .dashboard-chapter-location p{
    color: white;
  }
  .overview-startups-card{
    height: 200px !important;
  }
  .overview-course-tabs{
    flex-wrap: wrap;
    height: fit-content !important;
  }
  .overview-course-tabs div{
    margin: 5px 0;
  }
  .button-more{
    padding: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .overview-course-card-description{
    display: none;
  }
  .overview-course-card-info{
    justify-content: center;
  }
  .overview-course-currency{
    display: none !important;
  }
  .overview-course-detail{
    width: 100%;
  }
  .view-course{
    width: 100px;
    padding: 2px 0;
    height: fit-content;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .dashboard-projects-thumbnail{
    height: 200px;
  }
  .overview-projects-swiper{
    height: fit-content !important;
  }
}
@media only screen and (max-width: 992px) {
  .wallet-dashboard-container{ 
    .top-chart-detail{
      flex-direction: column !important;
    }
    .currency-chart{
    display: flex;
    flex-direction: column;
    }
    .donghut-chart-container{
      width: 100%;
      margin: 30px 0;
    }
    .coin-legend{
      width: 100%;
    }
  }  
}  
@media only screen and (max-width: 768px) {
  .wallet-dashboard-title{
    flex-direction: column !important;
    margin-top: 20px;
  }
  .wallet-dashboard-title >div{
    margin-right: auto;
    width: 100% !important;
  } 
  .wallet-dashboard-search-bar{
   margin-top: 20px;
  } 
  .market-chart-tabs{
    flex-direction: column !important;
  }
  .market-chart-tabs>div{
    margin: 10px 0;
  }
  .wallet-dashboard-container .market-chart-container > div{
    height: fit-content;
  }
}  
@media only screen and (max-width: 485px) {
  .wallet-right > .d-flex >.tw-flex{
    flex-direction: column !important;
  }
  .wallet-right > .d-flex >.tw-flex p{
    margin: 10px 0;
  }
  .market-chart-tabs > div{
    display: flex;
    flex-wrap: wrap;
    >a{
      margin-top: 4px;
    }
  }
}
@media only screen and (max-width: 460px) {
  .inner-dashboard-container{
    width: 100%;
  }
  .overview-course-detail{
    width: 30% !important;
  }
}  
@media only screen and (max-width: 400px) {
  .trends-button-contianer{
    flex-direction: column !important;
    div{
      margin-right: auto;
    }
    .add-token-btn{
      margin-left: auto;
    }
  }
}  