.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 6em;
}

.icon {
  width: 100%;
  max-width: 55%;
  background: #20213F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.icon img {
  width: 80%;
}

.content {
  width: 100%;
  padding-left: 4em;
  padding-top: 4em;
  background: linear-gradient(180deg, #8040D2 0%, rgba(30, 32, 73, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content h3 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #97c4f5;
}

.content p {
  font-size: 1.4rem;
  max-width: 16em;
  margin-bottom: 2em;
  color: white;
}

.content .link {
  padding: 1em 2em;
  border-radius: 2em;
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  background: transparent;
  margin-bottom: 2em;
  transition: background 300ms;
}

.content .link:hover {
  background: hsla(256, 85%, 58%, 0.2);
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .content {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content h3 {
    text-align: center;
  }

  .content p {
    max-width: 100%;
    text-align: center;
  }

  .icon {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .icon {
    padding: 2em;
  }

  .content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .content p {
    max-width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .content .link {
    font-size: 0.75rem;
  }
}