.container {
    background-color: #151371;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 0;
    position: fixed;
    top: 10%;
    left: 15%;
    right: 50%;
    
    z-index: 200;

    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media (max-width: 1050px) {
    .container{
        top: 5%;
        position: fixed;
        overflow: hidden;
        height: 90vh;
    }

    .innerContainer{
        height: 100%;
        overflow-y: auto;
    }

    /* Scrollbar styles */

    /* width */
    /* Track */
    .innerContainer::-webkit-scrollbar {
        width: 5px;
    }
    .innerContainer::-webkit-scrollbar-track {
        border: none;
        
    }
    .innerContainer::-webkit-scrollbar-thumb {
        background-color:  #FF00B8;
        border-radius: 5px;
    }
}