.chapterDirectory {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10em 0.5em 3em 0.5em;
  font-family: 'Poppins', sans-serif;
}

.joinWrapper {
  width: 100%;
  max-width: 64em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinOuterContainer {
  width: 100%;
}

.joinContainer {
  width: 100%;
  border-radius: 16px;
  background-color: #1C1D37;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
}

.joinTextAndButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.joinText {
  margin-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.joinButton {
  color: #ffffff;
  padding: 0.3em 0.8em;
  text-transform: capitalize;
  background: #6938EF;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 30px;
}

.joinButton:hover {
  /* background: white;
  border: 2px solid #151371; */
  color: #fff; 
}

@media screen and (max-width: 1024px) {
  .joinWrapper {
    max-width: 48em;
  }
}

@media screen and (max-width: 768px) {
  .joinWrapper {
    max-width: 36em;
  }
}

@media screen and (max-width: 480px) {
  .chapterDirectory {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .joinContainer {
    padding: 2em 0;
  }
  .joinOuterContainer {
    padding: 0.2em;
  }
}

@media screen and (max-width: 320px) {
  .chapterDirectory {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .joinContainer {
    padding: 1.5em 0;
  }
  .joinText {
    font-size: 14px;
  }
  .joinButton {
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 0.3em;
  }
}