.menuWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.meter {
  width: 100%;
  height: 8px;
  background: rgba(82, 85, 141, 0.61);
  border-radius: 17px;
  display: flex;
}
.meter div{
  border-radius: 17px;
  height: 100%;
  background: linear-gradient(270deg, #FD05B3 1.84%, rgba(253, 5, 179, 0.15) 100%);
}
.menuContainer {
  width: 100%;
  max-width: 64em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1.5em;
}

.menuContainer > section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em;
  background: #1C1D37;
}

.menuContainer > section:first-child {
  background: #6938EF;
}

.iconAndTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  width: 2em;
  height: 2em;
}

.text {
  color: white;
}

.item1 {
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.item4,
.item5,
.item6,
.item7,
.item8 {
  padding: 0 2em;
}

.item2,
.item3 {
  padding: 0 2em;
}


.text {
  font-size: 1rem;
}

.item1 {
  grid-column: 1/3;
}
.item2 {
  grid-column: 3;
  grid-row: 1/3;
}
.item3 {
  grid-column: 3;
  grid-row: 3/5;
}
.item4 {
  grid-column: 1;
  grid-row: 2/ 5;
}
.item5 {
  grid-column: 2;
  grid-row: 2/ 5;
}
.item6 {
  grid-column: 1;
  grid-row: 5/8;
}
.item7 {
  grid-column: 2;
  grid-row: 5/8;
}
.item8 {
  grid-column: 3;
  grid-row: 5/8;
}


@media screen and (max-width: 1024px) {
  .menuContainer {
    max-width: 48em;
  } 
}

@media screen and (max-width: 768px) {
  .menuContainer {
    max-width: 36em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1em;
  }
  .item1 {
    grid-column: 1;
    font-size: 16px;
  }
  .item2 {
    grid-column: 2;
    grid-row: 1/3;
  }
  .item3 {
    grid-column: 2;
    grid-row: 3/5;
  }
  .item4 {
    grid-column: 1;
    grid-row: 2/ 5;
  }
  .item5 {
    grid-column: 1;
    grid-row: 5/ 8;
  }
  .item6 {
    grid-column: 1;
    grid-row: 8/11;
  }
  .item7 {
    grid-column: 2;
    grid-row: 5/8;
  }
  .item8 {
    grid-column: 2;
    grid-row: 8/11;
  }  
}

@media screen and (max-width: 480px) {
  .menuWrapper {
    margin-bottom: 2em;
  }
  .item4,
  .item5,
  .item6,
  .item7,
  .item8 {
    padding: 0 ;
    padding: 32px 10px 0 10px;
  }

  .item2,
  .item3 {
    padding: 0 ;
    padding: 10px 10px 0 10px;
    
  }
 .menuContainer {
   max-width: 100%;
   gap: 0.5em;
 } 
 .menuContainer > section {
    justify-content: space-between;
  }
 .menuContainer > section:first-child {
   justify-content: center;
 }
  .iconAndTextContainer {
    margin-bottom: 1em;
  }
 .item1 {
   font-size: 0.5rem;
   letter-spacing: normal;
 }
  .text {
    font-size: 12px;
  }
  .icon {
    width: 16px;
    height: 16px;
  }
}
