.modalWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.modalADD {
  color: rgb(255, 255, 255);
  background-color: #1C1D37;
  border-radius: 1vw;
  box-shadow: 1vw 2vw 2vw -2vw #000;
  font-weight: bold;
  max-width: 700px;
  padding: 1rem 1.5rem;
}

.modalADD h1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

.modalADD p {
  font-size: 16px;
  font-weight: 300;
}

.modalADD textarea {
  margin-top: 10px;
  background-color: #24203C;
  border: 1px solid #7b68b98a;
  border-radius: 8px;
  padding: 14px;
  min-height: 40px;
  width: 100%;
}
.modalADD textarea:focus {
  outline: none;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  margin: 1.5vw 0;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  text-transform: capitalize;
  height: 5vh;
  width: 47%;
}
.goBack {
  background-color: #6938EF;
  color: white;
}

.actionBtns .delete,.actionBtns .deactivate {
  background-color: #eb3730;
  color: white;
  font-size: 14px ;
  font-weight: bold;
  display: flex;
  align-items: center ;
  justify-content: center;
  border-radius: 0.5vw ;
  text-transform: capitalize ;
  height: 5vh ;
  padding: 0;
  border: none;
  width: 47%;
}
.actionBtns .deactivate {
  background-color: #FB8C00;
  color: rgb(255, 255, 255);
}
 input.note {
  color: #FB8C00 !important;
}
.ps span.warn {
  color: #eb3730;
}
