.overviewContent {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

/* STYLING COMMONS */
.overviewContent h5 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.overviewContent h5 i {
  cursor: pointer;
}
.overviewContent h6 {
  font-size: 1vw;
  font-weight: bold;
}
.fiCompletion .completedProfile,
.fiCompletion button,
.fIProfile .userContent,
.fIProfile .quickLink {
  border-radius: 0.5vw;
}
/* END STYLING COMMONS */

/* STYLING Completion */
.fiCompletion {
  display: flex;
}
.fiCompletion .progress svg {
  height: 75px;
  width: 75px;
  transform: rotate(-90deg);
}
.fiCompletion .progress h6 {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.fiCompletion .progress svg circle {
  fill: var(--div-background-color);
  stroke: #6938ef;
  stroke-width: 8;
  transform: translate(2.5px, 2.5px);
  stroke-dasharray: 220;
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke-linecap: round;
}
.fiCompletion .info {
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.fiCompletion .info p {
  font-size: 20px;
}
.fiCompletion .completedProfile,
.fiCompletion button {
  background: #6938ef;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 100px;
  width: fit-content;
  width: 100%;
  padding: 0.9rem;
}
.fiCompletion .completedProfile {
  color: #00aa4f;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .fiCompletion {
    justify-content: center;
  }
  .fiCompletion .info {
    align-items: center;
    width: 100%;
  }
  .overviewContent h5 {
    font-size: 3vw;
  }
}
/* END OF STYLING Completion */

/* STYLING Profile */
.fIProfile {
  color: white;
  margin: 20px 0;
  border: 1px solid #6938ef;
  box-shadow: 0px 17px 25px rgb(0 0 0 / 25%);
  border-radius: 15px;
  padding-top: 15px;
}
.fIProfile h5 {
  padding-left: 50px;
}
.fIProfile .userContent {
  display: flex;
  padding-left: 50px;
}
.fIProfile .userContent .uCLeft {
  width: 70%;
}
.fIProfile .userContent .info {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}
.fIProfile .userContent .info .infoKey {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 35%;
}
.fIProfile .userContent .info .infoValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65%;
  font-weight: 400;
}
.infoValue a:hover {
  color: #6938ef;
}
.lineContainer {
  padding: 0 10px;
  width: 100%;
}
.line {
  background: rgba(147, 121, 255, 0.52);
  height: 1px;
  width: 100%;
  margin: 11px auto;
}
@media only screen and (max-width: 1024px) {
  .fIProfile .userContent .uCLeft {
    margin: 1vw 0;
  }
  /* .fIProfile .userContent .info {
    font-size: 1.2vh;
  } */
  .fIProfile .userContent .info:not(:last-child) {
    margin-bottom: 1vw;
  }
  .fIProfile .userContent .info .infoKey {
    width: 40% !important;
  }
  .fIProfile .userContent .info .infoValue {
    width: 60% !important;
  }
}
@media only screen and (max-width: 768px) {
  .fIProfile .userContent .info {
    flex-wrap: wrap;
  }
  .fIProfile .userContent .info:nth-child(n + 3) .infoKey {
    width: 100% !important;
  }
  .fIProfile .userContent .info:nth-child(n + 3) .infoValue {
    width: 100% !important;
  }
}
@media only screen and (max-width: 640px) {
  .fIProfile .userContent .info:nth-child(-n + 2) .infoKey {
    width: 60% !important;
  }
  .fIProfile .userContent .info:nth-child(-n + 2) .infoValue {
    width: 40% !important;
  }
  .fIProfile .userContent .uCRight .imgDiv {
    position: relative;
    cursor: pointer;
    width: 25px !important;
    height: 25px !important;
  }
}
.fIProfile .userContent .uCRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.fIProfile .userContent .uCRight .uCRwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fIProfile .userContent .uCRight .imgDiv {
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.fIProfile .userContent .uCRight .imgDiv img.avatarImage {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.fIProfile .userContent .uCRight .imgDiv img.editIcon {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 70%;
  right: -5%;
}
.fIProfile .userContent .uCRight h6 {
  font-size: 0.6vw;
  text-transform: capitalize;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.fIProfile .quickLink {
  position: relative;
  padding: 0.5vw;
  height: 35%;
}
.fIProfile .quickLink .qlHeader {
  display: flex;
  justify-content: space-between;
}
.fIProfile .quickLink .qlHeader p {
  font-size: 0.6vw;
}
.fIProfile .quickLink .qlHeader p img {
  display: inline-block;
  height: 0.8vw;
  transform: translate(0, -25%);
}
.fIProfile .quickLink .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fIProfile .quickLink .links img {
  cursor: pointer;
  margin-top: 5px;
  width: 28px;
  height: 100%;
}
.fIProfile .quickLink .links .overviewContentSpanWrap {
  position: absolute;
  background-color: #00aa4f;
}
.fIProfile .quickLink .links .overviewContentSpanWrap span {
  display: block;
  font-size: 1vw;
  border-radius: 1vw;
  color: #fff;
  position: absolute;
  padding: 3%;
  right: -25%;
  top: 55%;
  white-space: nowrap;
  transition: all 2s linear;
}

@media only screen and (max-width: 1024px) {
  .fIProfile .userContent .uCRight h6 {
    -webkit-line-clamp: 3;
  }
}
@media only screen and (max-width: 768px) {
  .fIProfile .userContent .uCRight h6 {
    -webkit-line-clamp: 4;
  }
}
@media only screen and (max-width: 640px) {
  .fIProfile .userContent .uCRight h6 {
    -webkit-line-clamp: 5;
  }
  .fIProfile .quickLink .links {
    justify-content: flex-start;
  }
  .fIProfile .quickLink .links img {
    margin-right: 5px;
    width: 25px;
  }
}
/* END OF STYLING Profile */

/* STYLING Security */
.fISecurity {
  height: calc(25% - 2vw);
}
.fISecurity .updateAccountLogin {
  color: #676565;
  display: flex;
  justify-content: space-around;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.5vw;
}
.fISecurity .updateAccountLogin > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5vw;
  padding: 0.5vw;
}
.fISecurity .updateAccountLogin > div img {
  display: block;
  margin-left: 0.5vw;
  width: 1.5vw;
}
/* @media only screen and (max-width: 1024px) {
  .fISecurity .updateAccountLogin {
    flex-wrap: wrap;
    margin-top: 2vw;
  }
  .fISecurity .updateAccountLogin > div {
    width: 100%;
  }
  .fISecurity .updateAccountLogin > div:first-child {
    margin-bottom: 1vw;
  }
} */
@media only screen and (max-width: 768px) {
  .fISecurity .updateAccountLogin {
    font-size: 2vw;
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 640px) {
  .fISecurity .updateAccountLogin {
    font-size: 3vw;
    margin-top: 5vw;
  }
  .fISecurity .updateAccountLogin > div:first-child {
    margin-bottom: 3vw;
  }
}
/* END OF STYLING Security */

/* STYLING Wallet */
.fIWallet {
  height: calc(60% - 1vw);
  margin-bottom: 2vw;
}
.connectWrapper {
  display: flex;
  justify-content: center;
}
.connectWrapper button {
  background-color: #226fee;
  border-radius: 0.5vw;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  margin: 0.5vw 0;
  padding: 0.5vw;
  width: 90%;
}
.balances h5 {
  font-size: 0.9vw;
}
.balances .cardWrapper {
  margin-top: 0.5vw;
}
.balances .cardWrapper h6 {
  color: white;
  font-size: 0.9vw;
}
.balances .cardWrapper .card {
  background-color: white;
  border-radius: 0.5vw;
  font-size: 0.9vw;
}
.balances .cardWrapper .card .amountInfo {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5vw;
}
.balances .cardWrapper .card .amountInfo div {
  color: #00aa4f;
  font-weight: bold;
}
.balances .cardWrapper .card .addBtn {
  cursor: pointer;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  background-color: #00aa4f;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0 0.5vw;
}
@media only screen and (max-width: 1024px) {
  .balances h5 {
    margin-top: 2vw;
  }
  .balances .cardWrapper {
    margin-top: 2vw;
  }
  .balances .cardWrapper .card {
    font-size: 1.2vw;
  }
  .balances .cardWrapper .card .amountInfo,
  .balances .cardWrapper .card .addBtn {
    padding: 0.5vw;
  }
}
/* END OF STYLING Wallet */

/* STYLING Notifications */
.fINotifications {
  height: calc(40% - 1vw);
}
.fINotifications .messages {
  cursor: pointer;
  background-color: white;
  border-radius: 0.5vw;
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
  padding: 0.5vw;
  margin-top: 1vw;
}
.fINotifications .messages h6 {
  color: black;
}
.fINotifications .messages .inboxCounter {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb3f4a;
  border-radius: 100%;
  font-size: 0.6vw;
  width: 1.2vw;
  height: 1.2vw;
}
.fINotifications .notifyMessages {
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-weight: bold;
  padding: 0.5vw;
  margin-top: 1vw;
}
.fINotifications .notifyMessages img {
  display: block;
  margin-left: 0.5vw;
  width: 1.2vw;
}
@media only screen and (max-width: 1024px) {
  .fINotifications .messages {
    padding: 1vw;
    margin-top: 2vw;
  }
  .fINotifications .notifyMessages {
    padding: 1vw;
    margin-top: 2vw;
  }
}
/* END OF STYLING Notifications */

/* Progress Styleing */
.progress {
  width: 110px;
  height: 110px !important;
  float: left;
  line-height: 150px;
  background: none;
  margin: 20px 0px 0px 20px;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid #3e385d;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progressLeft {
  left: 0;
}

.progress .progressBar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 20px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progressLeft .progressBar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progressRight {
  right: 0;
}

.progress .progressRight .progressBar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progressValue {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: var(--div-background-color);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 135px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.progress.blue .progressBar {
  border-color: #7653ff;
}

/* Bottom body Items */
.bodyBottom {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.bottomItem {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  background: var(--div-background-color);
  border: 1px solid #6938ef;
  box-sizing: border-box;
  box-shadow: 0px 32px 41px rgb(0 0 0 / 25%);
  border-radius: 15px;
}
.bottomItem div {
  padding-left: 50px;
}
.lineContainer {
  padding: 0 10px !important;
}
.bottomItem div h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.bottomItem div h2 i {
  cursor: pointer;
}
.itemElement {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.itemElement img {
  max-height: 24px;
  cursor: pointer;
}
.itemElement p {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .fiCompletion {
    flex-flow: column;
    align-items: center;
  }
}
@media only screen and (max-width: 450px) {
  .overviewContent h5 {
    font-size: 18px;
  }
  .infoKey {
    font-size: 16px;
  }
  .bottomItem {
    margin-bottom: 20px;
  }
  .bottomItem div h2 {
    font-size: 18px;
  }
  .bottomItem div {
    padding-left: 20px;
  }
  .itemElement {
    padding-right: 0px;
  }
  .userContent {
    padding-left: 20px !important;
  }
  .fIProfile h5 {
    padding-left: 20px;
  }
  .walletContainer {
    padding-left: 5px !important;
  }
  .walletRow {
    width: 100%;
  }
  .bodyBottom {
    grid-template-columns: 100%;
  }
  .itemElement img {
    margin: 0 !important;
  }
  .fiCompletion button {
    font-size: 18px;
  }
  .info p {
    font-size: 16px;
  }
  .fIProfile,
  .userContent,
  .uCLeft {
    width: 100% !important;
  }
  .fIProfile .userContent .info:nth-child(-n + 2) .infoValue {
    width: 100% !important;
  }
  .walletRow h3 {
    font-size: 14px;
  }
  .walletRow p {
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
  }
  .overviewContent {
    padding: 10px;
  }
}
