.courses {
  background: ‘var(—div-background-color) ’;
  color: white;
}
.search-input {
  border: 1px solid white !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.learn-filter {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  outline: none;
}
.dropdown-toggle::after {
  color: gray !important;
}
.my-courses::after {
  content: "";
  width: 65%;
  height: 2px;
  border: 1px solid #ffffff;
  margin-left: 32px;
  margin-right: auto;
  margin-top: 1.4rem;
  border-radius: 5px;
}
.courses-info .slick-next {
  top: -20%;
}
.course-tag-style:hover {
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.courses-info .slick-prev {
  left: 91%;
  top: -20%;
}
.banner-btn {
  /* background-image: linear-gradient(to right, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%); */
  background: linear-gradient(91.39deg, #ff00b8 17.68%, #cc00ff 106.94%);
  border-radius: 35px;
  border: none;
  color: white;
  transition: all 0.3s ease;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
}
.banner-btn:hover {
  color: white;
  opacity: 0.8;
}
.progress-bar {
  background: linear-gradient(
    270deg,
    #fd05b3 1.84%,
    rgba(253, 5, 179, 0.15) 100%
  );
}
.btn-outline-white {
  color: #fff !important;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s ease;
}
.btn-outline-white:hover {
  background-image: linear-gradient(
    #ff00b8 2.65%,
    #ff655b 51.83%,
    #ffc700 100%
  );
  color: white !important;
}
.earn-rate {
  padding-bottom: 1px;
}
.earn-rate img {
  width: 10px;
  height: 10px;
}
.course-name {
  font-size: 1.75rem;
  color: #ffffff;
  font-weight: 590;
}
.course-des {
  font-size: 17px;
  font-weight: 300 !important;
  color: #ffffff;
}
.course-tag-style {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 14px;
  border: 1px solid white;
}

.course-earn-style {
  margin-top: 10px;
  background: rgba(71, 75, 255, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #474bff;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 9px 12px;
  width: 80px;
}

.course-earn-style:hover {
  background: ‘var(—div-background-color),
    ";
  cursor: pointer;
  border: 1px solid ‘var(—div-background-color),";
  transition: all 0.6s ease-in-out;
}

.module-rate span {
  font-size: 17px;
  font-weight: 300 !important;
  color: #151371;
}

.course-specific-info ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-specific-info .user-enroll {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 18px;
}
.course-specific-info button {
  border-radius: 30px !important;
}
.course-specific-info .modal-center {
  cursor: pointer;
  transition: all 0.3s ease;
}
.course-specific-info .modal-center:hover {
  color: #545353;
}

.courseModal {
  background-color: #13152a;
}
.search-items .search-input {
  font-size: 15px !important;
  padding: 18px !important;
  color: #000;
  font-weight: 400;
  min-width: 87%;
}
.search-items .course-search {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0px;
  transition: 0.15s ease-in-out;
  outline: none;
}

.course-items-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.options-type .course-search,
.learn-filter {
  color: #151371;
  font-weight: 500;
  font-size: 15px;
  /* width: 130px; */
  cursor: pointer;
}
.courseCategory-title {
  font-size: 20px;
  color: #ffffff;
  text-align: center !important;
}
.courses .bg-circle-featured-top {
  background: rgb(143 0 255 / 61%);
  mix-blend-mode: hard-light;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  filter: blur(113.94px);
  position: absolute;
  border-radius: 50%;
  right: 30%;
  top: -60px;
  width: 140px;
  height: 140px;
}
.courses .bg-circle-featured-right {
  position: absolute;
  width: 130.95px;
  height: 140.28px;
  background: rgb(204 0 255 / 87%);
  border-radius: 50%;
  mix-blend-mode: hard-light;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  filter: blur(113.94px);
  right: 0%;
  top: 20%;
}
.courses .bg-circle-recomended-left {
  position: absolute;
  width: 130.95px;
  height: 140.28px;
  background: rgb(204 0 255 / 87%);
  border-radius: 50%;
  mix-blend-mode: hard-light;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  filter: blur(113.94px);
  left: 15%;
}
.courses .bg-circle-recomended-right {
  top: 60px;
  right: 0%;
  height: 120px;
  width: 120px;
  background: rgb(143 0 255);
  mix-blend-mode: hard-light;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  filter: blur(113.94px);
  position: absolute;
  border-radius: 50%;
}

.learnSearch-btn {
  background-color: white;
  display: flex;
  align-items: center;
  width: 92%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.courseSearch-btn {
  width: 10%;
}
.courses-items,
.course-weeks {
  transition: all 0.3s ease !important;
}
.courses-items:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.course-weeks:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}
/* .FRCourses .slick-slide >div {
  display: flex;
  justify-content: center;
} */
@media (min-width: 769px) {
  .recommended-courses .slick-track,
  .user-courses .slick-track,
  .featured-courses .slick-track {
    width: auto !important;
  }
  .FRCourses .slick-prev {
    left: 91%;
    top: -17.5%;
  }
  .FRCourses .slick-next {
    top: -17.5%;
    right: 4.5%;
  }
}
@media (max-width: 992px) {
  .FRCourses .slick-prev {
    left: 89%;
    top: -17.5%;
  }
}
@media (max-width: 767px) {
  .my-courses h1 {
    font-size: 27px;
  }
  .my-courses::after {
    width: 48%;
    margin-top: 1rem;
  }
  .courses-info .slick-prev {
    left: 83%;
    top: -20%;
  }
  .courses-info .slick-next {
    top: -20%;
  }
  .learn-items ul li {
    margin-bottom: 1rem;
  }
  .FRCourses .slick-prev {
    left: 88%;
    top: -17.5%;
  }
  .FRCourses .slick-next {
    top: -17.5%;
    right: -0.5%;
  }
  .courseCategory-title {
    font-size: 25px;
  }
  .learnSearch-btn {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .options-type .course-search {
    width: 80px !important;
  }
}
