@media (min-width: 768px){
    .course-category::after {
        content: "";
        width: 50%;
        height: 2px;
        border: 1px solid #FFFFFF;
        margin-left: 32px;
        margin-right: auto;
        margin-top: 1.4rem;
        border-radius: 5px;
    }
}