.courses-items {
  /* background: url(../../../public/assets/images/learn-page/courses-items-background.png), linear-gradient(110.62deg, rgba(255, 255, 255, 0.25) 6.39%, rgba(255, 255, 255, 0) 53.34%); */
  background: linear-gradient(
    116.82deg,
    #21175f 32.9%,
    rgba(36, 14, 98, 0.8) 148.54%
  );
  box-shadow: inset -7px -7px 24px rgba(255, 255, 255, 0.04),
    inset 7px 7px 14px rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  /* height: 250px; */
  width: 90%;
  margin: 0 !important;
  padding-bottom: 20px;
}
.FRCourses .slick-slide {
  display: flex;
}
.FRCourses .slick-slide > div {
  display: flex;
  padding-right: 40px;
}
.courses-slider-controllers {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.courses-slider-controllers div {
  margin: 15px 15px 20px 0;
  cursor: pointer;
}
.courses-slider-controllers div i {
  color: #fff;
  font-size: 18px;
}
.courses-slider-controllers div i:hover {
  color: rgb(165, 165, 165);
}
@media only screen and (max-width: 1200px) {
  .FRCourses .slick-slide > div {
    display: flex;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .courses-items {
    width: 95%;
    /* height: 300px !important; */
    /* margin-left: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .course-items-footer {
    /* position: absolute; */
    padding-top: 30px;
    margin-top: auto;
    display: flex;
    bottom: 20px;
  }
  .course-earn-style {
    margin-right: 50px;
  }
  .banner-btn {
    padding: 5px 19px !important;
  }
  .enroll-arrow {
    display: none;
  }
  .FRCourses .slick-slide > div {
    padding-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .courses-items {
    width: 95%;
    /* height: 18rem !important; */
    margin-left: 20px;
  }
  .courses-width {
    width: 100%;
  }
  .FRCourses .slick-slide > div {
    padding: 0 20px;
  }
}
.earn-rate {
  background-color: "var(—-div-background-color);"
  border-radius: 10px;
  color: #000;
  width: 100px;
  text-align: center;
  font-size: 13px;
}
.courses-items button {
  border-radius: 30px !important;
}
.module-rate span {
  margin-left: 12rem;
}
.courses-items .progress {
  height: 0.75rem !important;
  width: 100%;
  margin-top: 1.65rem;
  background: #14152a;
  border-radius: 17px;
}
