.courses-items {
  /* background: url(../../../public/assets/images/learn-page/courses-items-background.png), linear-gradient(110.62deg, rgba(255, 255, 255, 0.25) 6.39%, rgba(255, 255, 255, 0) 53.34%); */
  background: linear-gradient(
    116.82deg,
    #21175f 32.9%,
    rgba(36, 14, 98, 0.8) 148.54%
  );
  box-shadow: inset -7px -7px 24px rgba(255, 255, 255, 0.04),
    inset 7px 7px 14px rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  height: 250px;
  width: 480px;
}

@media only screen and (max-width: 500px) {
  .courses-items {
    width: 90%;
    height: 18rem !important;
    margin-left: 20px;
  }
  .courses-width {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .courses-items {
    width: 90%;
    height: 300px !important;
    margin-left: 20px;
    position: relative;
  }
  .course-items-footer {
    position: absolute;
    display: flex;
    bottom: 20px;
  }
  .course-earn-style {
    margin-right: 70px;
  }
  .banner-btn {
    padding: 5px 19px !important;
  }
  .enroll-arrow {
    display: none;
  }
}

.earn-rate {
  background-color: #9cff83;
  border-radius: 10px;
  color: #000;
  width: 100px;
  text-align: center;
  font-size: 13px;
}
.courses-items button {
  border-radius: 30px !important;
}
.module-rate span {
  margin-left: 12rem;
}
.courses-items .progress {
  height: 0.75rem !important;
  margin-top: 1.65rem;
  background: rgba(162, 89, 255, 0.4);
  border-radius: 17px;
}
