.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
    position: relative;
}

.container {
    width: 100%;
    /* max-width: 64em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag {
    position: absolute;
    text-align: end;
    left: 0;
    top: 0;
    width: 15%;
    padding: 0.5em;
    background: rgb(21, 19, 113, 0.1);
    border-bottom: 2px solid white;
    color: white;
  }

.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    text-align: center;
    background: linear-gradient(90.87deg, #97C4F5 -2.84%, #33D2FF 82.04%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.text {
    margin-bottom: 2em;
    text-align: center;
    padding: 0 3em;
    color: white;
    font-weight: normal;
    font-size: 30px;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

@media screen and (max-width: 1024px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (max-width: 768px) {
    .menu {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    .heading{
        font-size: 40px;
    }
    .text{
        padding: 0;
        font-size: 24px;
    }
}


