.container {
  width: 100%;
  max-width: 22em;
  height: 20em;
  font-size: 1rem;
  cursor: pointer;
  padding: 1em;
  border: 1px solid var(--secondary-accent-1);
  border-radius: 0.5em;
  background: var(--secondary-high-contrast);
  overflow: hidden;
  position: relative;
}

.name_image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}

.imageContainer {
  width: 3em;
  height: 3em;
  background: var(--secondary-low-contrast);
  padding: 0.5em;
  margin-right: 2em;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.about {
  margin-bottom: 1em;
  color: var(--light-main);
}

.fundContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.fundTitle {
  font-weight: 500;
}

.fundRaised {
  font-weight: 500;
  margin-bottom: 1em;
}

.fundRate {
  color: var(--light-high-contrast);
}

.fundBar {
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 1em;
  height: 1em;
  background: var(--secondary-low-contrast);
  overflow: hidden;
  padding: 1px;
}

.reading {
  width: 70%;
  background: var(--tertiary-accent-1);
  height: 100%;
  border-radius: 1em;
}

.more {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.3em;
  border: 1px solid var(--tertiary-main);
  color: white;
  transition: all 150ms;
}

.more:hover {
  background: var(--tertiary-main);
  color: white;
}