.wrapper {
  width: 100%;
  max-width: 22em;
}

.container {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  padding: 1em;
  border: 1px solid var(--secondary-accent-1);
  border-radius: 0.5em;
  background: var(--secondary-high-contrast);
  overflow: hidden;
  position: relative;
}

.popupContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
  z-index: 10;
  border-radius: 0.5em;
}

.popupContainer.show {
  display: flex;
}

.popupContainer.hide {
  display: none;
}

.imageContainerWrapper {
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-bottom: 1em;
  border: 1px solid var(--secondary-accent-1);;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.detailsContainer {
  width: 100%;
  margin-bottom: 1em;
}

.userName > span,
.name > span {
  display: inline-block;
  width: 6em;
  font-size: 0.85em;
}

.otherInfo {
  width: 100%;
  text-align: center;
}

.otherInfo .title {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  margin-bottom: 2em;
}

.otherInfo .title::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 4px;
  -webkit-background-clip: text;
  background-clip: text;
  background: var(--tertiary-main);
  color: transparent;
  bottom: -0.5em;
  left: 0;
}

.mentorship {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0 1em;
}

.mentee,
.mentor {
  color: var(--dark-accent);
  padding: 0.3em 1em;
}

.isMentee,
.isMentor {
  border-radius: 0.25em;
  border: 1px solid var(--tertiary-accent);
  color: var(--light-high-contrast);
}

.role {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.mentorship,
.role,
.detailsContainer {
  background: var(--secondary-main);
  padding: 0.5em;
}
