.container {
  width: 100%;
  height: 80vh;
  font-size: 1rem;
  cursor: pointer;
  padding: 1em;
  border: 1px solid var(--secondary-accent-1);
  border-radius: 0.5em;
  background: var(--secondary-high-contrast);
  overflow: hidden;
  position: relative;
  cursor: unset;
  animation: enter 250ms forwards;
  position: sticky;
  top: 5em;
  padding: 1em;
}

@keyframes enter {
  from{
    transform: translate(-10px, -10px);
  }
  to {
    transform: translate(0, 0);
  }
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1em;
  padding: 0 1em;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.imageContainer {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-right: 2em;
  border: 1px solid var(--secondary-accent-1);
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.detailsContainer {
  flex: 1;
}

.title {
  font-weight: 500;
}

.otherInfo > .title {
  margin-bottom: 0.5em;
}

.name {
  margin-bottom: 0.5em;
}

.userName > span,
.name > span {
  display: inline-block;
  width: 6em;
  font-size: 0.85rem;
}

.otherInfo {
  width: 100%;
  text-align: left;
  height: 20em;
  overflow: auto;
}

.otherInfo > .title {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  margin-bottom: 2em;
}

.otherInfo > .title::before {
  position: absolute;
  content: '';
  width: 40%;
  height: 4px;
  -webkit-background-clip: text;
  background-clip: text;
  background:var(--tertiary-main);
  color: transparent;
  bottom: -0.5em;
  left: 0;
}

.mentorship {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0 1em;
}

.mentee,
.mentor {
  color: var(--dark-accent);
  padding: 0.3em 1em;
}

.isMentee,
.isMentor {
  border-radius: 0.25em;
  border: 1px solid var(--tertiary-accent);
  color: var(--light-high-contrast);
}

.programmingSkills,
.skills,
.role {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 1em;
  background: var(--secondary-main);
}

.passion {
  width: 100%;
}

.passion > .title {
  margin-bottom: 1em;
}

.passion > .values{
  margin-left: 4em;
}

.passion > .values > span {
  display: inline-block;
  margin-right: 1em;
}


.info,
.programmingSkills,
.skills,
.role,
.passion,
.mentorship {
  background: var(--secondary-main);;
  padding: 1em;
}

.closePopup {
  background: var(--secondary-accent-1);
  color: var(--light-low-contrast);
  border-radius: 50%;
  position: absolute;
  top: 0em;
  right: 0em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 50ms;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closePopup:hover {
 font-size: 1.02rem;
}


@media screen and (max-width: 480px) {
  .info {
    align-items: flex-start;
  }

  .imageContainer {
    width: 3em;
    height: 3em;
  }

  .userName,
  .name {
    font-size: 1rem;
  }

  .passion > .values{
    margin-left: 1em;
  }
}