@import "~tailwindcss/base";
  
@import "~tailwindcss/components"; 
 
@import "~tailwindcss/utilities";

// ::-webkit-scrollbar {
//     width: 7px;
//   }
//   ::-webkit-scrollbar-track {
//     border: none;
//   }
//   ::-webkit-scrollbar-thumb {
//     background-color:  #151565;
//     border-radius: 0px;
//   }
@media only screen and  (min-width: 500px) { 
    .burger{
        display: block;
    }
  }

.social-auth {
  @apply tw-m-2 tw-text-gray-600 tw-items-center tw-border-2 tw-cursor-pointer tw-border-gray-500 tw-rounded-full tw-p-2 hover:tw-bg-white tw-transition tw-duration-500 tw-ease-in-out tw-transform hover:tw--translate-y-3 hover:tw-scale-110;
}

  @media only screen and  (min-width: 1200px) { 
  .burger{
      display: none;
  }
}
.css-yk16xz-control {
  border-color: #fff;
}
