/* xl:tw-w-10/12 xl:tw-mr-16 dropdown-coming tw-mr-48 tw-fixed tw-mt-28 sm:tw-mr-8 sm:tw-w-10/12 tw-bg-gray-900 tw-bg-opacity-70 tw-flex tw-flex-col tw-justify-center */

.comingsoon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-high-contrast);
  position: fixed;
  width: 800px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 6px 40px rgba(0, 0, 0, 0.18));
  z-index: 100;
  border-radius: 20px 20px 20px 20px;
}

.CS-img{
  width: 300px;
  background: var(--secondary-accent-1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.CS-text{
    color: var(--light-low-contrast);
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    font-weight:500;
}

.comingsoon-container > div > button{
  background: var(--tertiary-main);
}

@media only screen and (max-width: 500px) {
 .comingsoon-container {
  width: 400px;
  height: 300px;
 }
}